<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/404.css">
</head>

<body>
  <div id="container">
    <a href="https://wikipedia.org/wiki/HTTP_404" class="shake link" id="fourohfour">404</a>
    <img src="/img/error.gif" />
    <p>
      We looked everywhere but couldn't find what you were looking for.
    </p>
    <a href="/" class="link" id="message">
      Front page
    </a>
  </div>
</body>

</html>