html {
	height: 100%;
	width: 100%;
}

body,
#app,
.home {
	background-color: #383b41;
	min-height: 100% !important;
	height: 100%;
	margin: 0;
	width: 100%;
}

#frontpage {
	height: 100%;
}

#front-container {
	height: 100%;
	padding: 0;
	display: none;
	align-items: center;
	justify-content: center;

	transition: transform 1s ease-in-out;
}

#logo {
	margin: 0;
	margin-right: 50px;
	width: 300px;
}

h1 {
	letter-spacing: 3px;
	font-size: 5em;
}

#loginButton {
	display: inline-block;
	visibility: hidden;
	opacity: 0;
	background-color: #7289da;

	height: 45px;
	width: 250px;

	line-height: 45px;
	border-radius: 3px;

	font-size: 1em;
	text-align: center;
	text-decoration: none;
	color: #fff;

	position: absolute;
	top: 400px;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;

	transform: scale(.5);
	transition: all 1s ease;
}

.slideUp {
	transform: translate(0, -7%);
}