<mat-nav-list>
  <mat-list-item
    class="mat-primary"
    [routerLink]="['/home']"
    [routerLinkActive]="['is-active']"
  >
    <mat-icon matListIcon> home </mat-icon>
    <a matLine>Home</a>
  </mat-list-item>

  <mat-list-item
    class="mat-primary"
    [routerLink]="['/soundboard']"
    [routerLinkActive]="['is-active']"
  >
    <mat-icon matListIcon> volume_up </mat-icon>
    <a matLine>Soundboard</a>
  </mat-list-item>

  <mat-list-item
    class="mat-primary"
    [routerLink]="['/greetings']"
    [routerLinkActive]="['is-active']"
  >
    <mat-icon matListIcon> emoji_people </mat-icon>
    <a matLine>Greetings</a>
  </mat-list-item>

  <mat-list-item
    class="mat-primary"
    [routerLink]="['/music']"
    [routerLinkActive]="['is-active']"
  >
    <mat-icon matListIcon> music_note </mat-icon>
    <a matLine>Music</a>
  </mat-list-item>
</mat-nav-list>
