@import "../../../theme.scss";

:host {
  user-select: none;
}

.container {
  display: flex;
  flex-direction: column;

  justify-content: space-between;

  height: 100%;
  width: 200px;
  margin: 0;

  background: $bg-medium;

  color: #8e9297;

  .channelContainer {
    padding-right: 8px;
  }

  .title-container {
    position: relative;
    padding-left: 20px;

    h2 {
      font-size: 12px;
      margin: 0;
    }

    svg {
      position: absolute;
      left: 4px;
      top: 10px;
      width: 12px;
      height: 12px;
    }
  }
}

.connectionStatus {
  background: #292b2f;

  padding: 8px;

  display: flex;

  button {
    cursor: pointer;
    line-height: 0;
    width: 32px;
    height: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 4px;
    position: relative;
    color: #b9bbbe;
    background: transparent;
    border: none;
    border: 0;
    padding: 0;
    margin: 0;
    user-select: none;
    outline: 0;

    margin-left: auto;

    &:hover {
      color: #dcddde;
      background-color: rgba(79, 84, 92, 0.32);
    }
  }
}
