.button {
	text-align: center;
	padding: 80px 0;
	display: inline-block;
	height: 40px;
	width: 200px;
	
	font-size:25px;
	color:#F0F0F0;
	border-radius: 50%;
	border-bottom:4px solid #0045A6;
	box-shadow: 6px 6px 6px #999;
	
	-webkit-user-select: none;        
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	
	background: -webkit-linear-gradient(#0099F8, #0067F7);
    background: -o-linear-gradient(#0099F8, #0067F7);
    background: -moz-linear-gradient(#0099F8, #0067F7);
    background: linear-gradient(#0099F8, #0067F7);
	
	background-size:1px 200px;
	
	transition: all .05s linear;
}

.button:active {
	box-shadow: 2px 2px 2px #777;
	border-bottom:1px solid #0045A6;
	transform: translateY(3px);
}