#container {
	margin: 0 auto;
	width: 60%;
	position: relative;
}

#header {
	margin: 5% 0 8%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#logocontainer {
	position: relative;
}

#logo {
	width: 150px;
	position: relative;
	z-index: 2;
}



#killbutton {
	width: 80px;
	height: 30px;
	border-radius: 5px;
	background-color: #f04747;

	position: absolute;
	left: 24%;
	top: 40%;
	z-index: 1;

	text-align: center;
	vertical-align: middle;
	line-height: 30px;
	color: white;
	font-size: .9em;
	font-weight: 600;
	letter-spacing: 3px;

	transition: all .1s linear;
}

#killbutton:active {
	background-color: #8c2828;
}

#killbutton img {
	position: relative;
	width: 16px;
	vertical-align: middle;
	top: -2px;
}

#stopbutton {
	margin: auto;
	left: 0;
	right: 0;
	width: 100px;
	height: 40px;
	border-radius: 5px;
	background-color: #f04747;

	text-align: center;
	vertical-align: middle;
	line-height: 40px;
	color: white;
	font-size: 1.2em;
	font-weight: 500;

	position: absolute;
}

#stopbutton:active {
	background-color: #8c2828;
}


h1 {
	font-size: 4em;
	margin-left: 30px;
}

h2 {
	font-size: 1.8em;
}





.button {
	border: inset;
	box-shadow: 6px 6px 6px #999;

	transition: all .05s linear
}

.button:active {
	box-shadow: 2px 2px 2px #777;
	transform: translateY(3px);
}




#soundboard img {
	width: 70%;
	border-radius: 50%;
	margin-bottom: 80px;
}

.column {
	float: left;
	text-align: center;
	width: 33.33%;
	margin-top: 50px;
}





html, body {
	font-family: Whitney;
	width: 100%;
}

@font-face {
    font-family: Whitney;
    font-weight: 300;
    src: url(/fonts/whitney300.woff) format("woff")
}

@font-face {
    font-family: Whitney;
    font-weight: 400;
    src: url(/fonts/whitney400.woff) format("woff")
}

@font-face {
    font-family: Whitney;
    font-weight: 500;
    src: url(/fonts/whitney500.woff) format("woff")
}

@font-face {
    font-family: Whitney;
    font-weight: 600;
    src: url(/fonts/whitney600.woff) format("woff")
}

@font-face {
    font-family: Whitney;
    font-weight: 700;
    src: url(/fonts/whitney700.woff) format("woff")
}

@media 
only screen and (min-width: 1440px) {
	#container {
		width: 864px;
	}
}

@media
only screen and (-webkit-min-device-pixel-ratio: 1.25),
only screen and ( min--moz-device-pixel-ratio: 1.25),
only screen and ( -o-min-device-pixel-ratio: 1.25/1),
only screen and ( min-device-pixel-ratio: 1.25),
only screen and ( min-resolution: 200dpi),
only screen and ( min-resolution: 1.25dppx)
{
	#container {
		width: 60%;
	}
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}